*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}
body{
  background: #ecebeb;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}
input, textarea, select{
  border: none;
  border-bottom: 1px solid rgb(153, 151, 151);
  outline: none;
}
.input-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 20px;
}
input,
textarea,
select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Textarea specific styling */
textarea {
  resize: vertical;
  min-height: 80px;
}
button {
  padding: 5px 8px;
  background-color: #ff6b6b;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
button:hover {
  background-color: #ff4c4c;
}